.projects {
  width: 100%;
  padding: 128px 100px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
div.top {
  width: 1280px;
  /* background-color: #1c1e53; */
  height: 64px;
  /* background-color: black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

div.top h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938; /* Dark blue */
}

div.top a {
  text-decoration: none;
}

div.top a span:nth-of-type(1) {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}

div.top a span:nth-of-type(2) {
  margin-left: 16px;
}

.projects .bottom {
  width: 1280px;
  margin-top: 64px;
  display: grid;
  grid-template-columns: 843px 405px;
  grid-template-rows: repeat(1, 600px);
  column-gap: 32px;
  /* background-color: darkslateblue; */
  justify-content: center;
  overflow: hidden;
}

.projects .bottom .pr1 {
  /* background-color: blue; */
  position: relative;
}

.projects .bottom .pr1 img {
  width: 843px;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.projects .bottom .pr1 .cover {
  width: 396px;
  height: 100%;
  background: linear-gradient(
    329.39deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  /* border: 1.5px solid rgba(252, 217, 128, 1); */
  position: absolute;
  top: 0;
  padding-left: 50px;
  padding-top: 180px;
  left: -396px;
  transition: 500ms;
}

.projects .bottom .pr1:hover .cover {
  left: 0;
}

.projects .bottom .pr1 .cover h5 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 24px;
  /* font-weight: 600; */
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 150px;
  margin-bottom: 16px;
}

.projects .bottom .pr1 .cover p {
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.8;
  margin-bottom: 40px;
}

.projects .bottom .pr1 .cover a {
  text-decoration: none;
  color: rgba(252, 217, 128, 1);
}

.projects .bottom .pr1 .cover a span:nth-of-type(1) {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.projects .bottom .pr1 .cover a span:nth-of-type(2) {
  vertical-align: middle;
  margin-left: 16px;
}

.projects .bottom .pr2 {
  /* background-color: lightskyblue; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 284px);
  row-gap: 32px;
  position: relative;
}

.projects .bottom .pr2 .pr2top {
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.projects .bottom .pr2 .pr2top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects .bottom .pr2 .pr2top .cover {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    329.39deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  position: absolute;
  top: -100%;
  left: 0;
  padding-left: 56px;
}

.projects .bottom .pr2 .pr2top:hover .cover {
  top: 0;
}

.projects .bottom .pr2 .pr2top .cover h1 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 129px;
  margin-bottom: 10px;
}

.projects .bottom .pr2 .pr2top .cover a {
  text-decoration: none;
  color: #fcd980;
}

.projects .bottom .pr2 .pr2top .cover a span:nth-of-type(1) {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.projects .bottom .pr2 .pr2top .cover a span:nth-of-type(2) {
  margin-left: 16px;
  vertical-align: middle;
}

.projects .bottom .pr2 .pr2bottom {
  background-color: darkorange;
  width: 100%;
  height: 100%;
}

.projects .bottom .pr2 .pr2bottom img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

