.featurebody {
  width: 100%;
}

.featurebody .featurebody-1 {
  /* margin-left: 128px 160px; */
  display: flex;
  flex-flow: row nowrap;
  column-gap: 70px;
  /* justify-content: center; */
  margin-bottom: 128px;
}

.featurebody .featurebody-1 .featurebody-1-left {
  /* width: 624px; */
  margin-top: 169px;
  margin-left: 160px;
  /* padding-right: 130px; */
}

.featurebody .featurebody-1 .featurebody-1-left h6 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

.featurebody .featurebody-1 .featurebody-1-left h3 {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #232536;
  text-transform: capitalize;
}

.featurebody .featurebody-1 .featurebody-1-left p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  color: #282938;
  opacity: 0.6;
}

.featurebody .featurebody-1 .featurebody-1-right {
  /* width: 50%; */
  margin-top: 128px;
  margin-right: 160px;
}
.featurebody .featurebody-1 .featurebody-1-right img {
  width: 575px;
  /* height: 398px; */
}

.featurebody .featurebody-2 {
  /* margin-left: 128px 160px; */
  background-color: #f4f6fc;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 80px;
  justify-content: center;
  margin-bottom: 128px;
}

.featurebody .featurebody-2 .featurebody-2-left {
  /* width: 624px; */
  margin-top: 128px;
  margin-bottom: 128px;
  margin-left: 160px;
  /* padding-right: 130px; */
}
.featurebody .featurebody-2 .featurebody-2-left img {
  width: 575px;
}

.featurebody .featurebody-2 .featurebody-2-right {
  /* width: 624px; */
  margin-top: 197px;
  margin-right: 160px;
  margin-bottom: 197px;
}

.featurebody .featurebody-2 .featurebody-2-right h6 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

.featurebody .featurebody-2 .featurebody-2-right h3 {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #232536;
  text-transform: capitalize;
}

.featurebody .featurebody-2 .featurebody-2-right p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  color: #282938;
  opacity: 0.6;
}

.featurebody .featurebody-3 {
  /* margin: 0px 160    px; */
  display: flex;
  flex-flow: row nowrap;
  column-gap: 80px;
  justify-content: center;
  margin-bottom: 128px;
}

.featurebody .featurebody-3 .featurebody-3-left {
  /* width: 624px; */
  margin-top: 97px;
  margin-left: 160px;
  /* padding-right: 130px; */
}

.featurebody .featurebody-3 .featurebody-3-left h6 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

.featurebody .featurebody-3 .featurebody-3-left h3 {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #232536;
  text-transform: capitalize;
}

.featurebody .featurebody-3 .featurebody-3-left p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  color: #282938;
  opacity: 0.6;
}

.featurebody .featurebody-3 .featurebody-3-right {
  /* width: 50%; */
  /* margin-top: 128px; */
  margin-right: 160px;
}
.featurebody .featurebody-3 .featurebody-3-right img {
  width: 575px;
  /* height: 398px; */
}

.featurebody .featurebody-4 {
  /* margin-left: 128px 160px; */
  background-color: #fcd9801a;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 70px;
  /* justify-content: center; */
  /* margin-bottom: 128px; */
}

.featurebody .featurebody-4 .featurebody-4-left {
  /* width: 624px; */
  margin-top: 128px;
  /* margin-bottom: 128px; */
  margin-left: 160px;
  /* padding-right: 130px; */
}
.featurebody .featurebody-4 .featurebody-4-left img {
  width: 575px;
  height: 398px;
  object-fit: cover;
}

.featurebody .featurebody-4 .featurebody-4-right {
  /* width: 624px; */
  margin-top: 197px;
  margin-right: 160px;
  margin-bottom: 197px;
}

.featurebody .featurebody-4 .featurebody-4-right h6 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}

.featurebody .featurebody-4 .featurebody-4-right h3 {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #232536;
  text-transform: capitalize;
}

.featurebody .featurebody-4 .featurebody-4-right p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
  color: #282938;
  opacity: 0.6;
}
