footer {
    width: 100%;
    /* background-color: #282938; */
    margin-top: 128px;
    background-color: #1c1e53;
  }
  
  footer .footer-nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 141px;
  }
  
  footer .footer-nav .footer-left {
    width: 50%;
    /* background-color: blue; */
    padding-left: 100px;
  }
  
  footer .footer-nav .footer-left svg {
    margin-top: 104px;
    margin-bottom: 23.59;
  }
  
  footer .footer-nav .footer-left p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    /* margin-bottom: 86px; */
  }
  
  footer .footer-nav .footer-left .callus {
    margin-top: 86px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(3, auto); */
    background-color: #fcd980;
  }
  
  footer .footer-nav .footer-left .callus .emailus {
    /* margin-top: 18px; */
    margin-left: 37px;
  }
  
  footer .footer-nav .footer-left .callus .emailus p:nth-of-type(1) {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #282938;
  }
  
  footer .footer-nav .footer-left .callus .emailus p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #282938;
  }
  
  footer .footer-nav .footer-left .callus .call p:nth-of-type(1) {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #282938;
    margin-left: 29px;
  }
  
  footer .footer-nav .footer-left .callus .call p:nth-of-type(2) {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #282938;
    margin-left: 29px;
  }
  
  footer .footer-nav .footer-right {
    width: 50%;
    margin-top: 86px;
    margin-right: 382px;
  }
  
  footer .footer-nav .footer-right h2 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 14px;
  }
  
  footer .footer-nav .footer-right p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #f4f6fc;
    margin-bottom: 28px;
  }
  
  footer .footer-nav .footer-right p span {
    margin-right: 26.67px;
  }
  
  footer .footer-link {
    width: 100%;
    background-color: #ffffff;
  }
  
  footer .footer-link .footer-copyright p {
    display: inline-flex;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #282938;
    margin-top: 32px;
    margin-left: 160px;
    margin-right: 567px;
    margin-bottom: 32px;
  }
  
  footer .footer-link .footer-copyright a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #282938;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 32px;
  }
  